[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pipenv = "*"
psycopg2 = "*"
psycopg2-binary = "*"
pillow = "*"
django-allauth = "==0.51.0"

[dev-packages]

[requires]
python_version = "3.11"
