{% extends 'blog/base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'stile.css' %}">
{% endblock %}
{% block content %}
<div class="article_container">
    <form class="article-form" action="{%url 'article'%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Создание новой статьи</h2>
        <div class="form-group">
            <label for="title">Название:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="content">Содержание:</label>
            <textarea id="content" name="content" rows="8" required></textarea>
        </div>
        <div class="form-group">
            <label for="photo">Фото:</label>
            <input type="file" id="photo" name="photo" accept="image/*" required>
        </div>
        <button type="submit">Опубликовать статью</button>
    </form>
</div>
{% endblock %}
