{% extends 'blog/base.html' %}
{% load static %}
{% load filter %}
{% block link %}
<link rel="stylesheet" href="{% static 'stile.css' %}">
{% endblock  %}
{% block content %}
<div class="container">
    <h4 class="on_main"><a href="{% url 'home' %}">На главную</a></h4>
    <h1 class="detail_title">{{ item.title }}</h1>
    {% if item.author == user %}
    <a href="{% url 'article_delete' item.pk %}">X</a>
    {% endif %}
    <div class="article-info">
        <img src="{{ item.image.url }}" alt="{{ item.title }}">
        <p class="date">Дата создания: {{ item.created_at }} </p><br>
    </div>

    {% if user.is_authenticated %}

    <form action="{% url 'like' %}" method="post">
        <input type="hidden" value="{{item.pk}}" name="article">
        {% csrf_token %}
        {% if item|check_like:user %}
        <h4>
            Автор: {{ item.author.first_name }} {{ item.author.last_name }}
            <button style="background-color: #cb000a" class="like-button">Лайк</button>
        </h4>
        <input type="hidden" name="like" value="1">
        {% else %}
        <h4>Автор: {{ item.author.first_name }} {{ item.author.last_name }}
            <button class="like-button">Лайк</button>
        </h4>
        {% endif %}
    </form>


    {% else %}
    <h4>Автор: {{ item.author.first_name }} {{ item.author.last_name }}
        <button disabled class="like-button">Лайк</button>
    </h4>
    {% endif %}

    <div class="content">


        <p>{{ item.content }}</p>
    </div>
    <div class="comments">
        <h2>Комментарии</h2>
        <br>
        <form class="comment-form" action="{% url 'comments' item.id %}" method="POST">
            {% csrf_token %}
            <textarea name="comment" placeholder="Введите комментарий"
                      required></textarea>
            {% if user.is_authenticated %}
            <button type="submit">Отправить</button>
            {% else %}
            <button disabled type="submit">Отправить</button>
            {% endif %}

        </form>
        <div class="comment-list">
            {% for comment in comments %}
            <div class="comment">Коментарий: {{ comment.content }}
                {% if comment.has_deleted %}
                <a href="{% url 'comment_delete' comment.id %}">___________________________________X</a>
                {% endif %}
                <br>
                <img style="height: 50px; width: 50px" src="{{comment.user.photo.url}}" alt="">
                {{ comment.user.last_name }} {{ comment.user.first_name }}<br>
                <br>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock  %}


